.header {
    padding: 24px;
    background: var(--color-white);

    &_container {
        max-width: var(--container-width);
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;

        & .nav {
            display: flex;
            gap: 20px;

            // &_link {
            //     color: blanchedalmond;
            // }
        }
    }
}
